.input__input {
  background-color: #2A2035;
  border: none;
  font-size: 18px;
  font-family: var(--principalFont);
  line-height: 28px;
  color: white;
  padding: 15px 26px;
  border-radius: 8px;
  width: 100%;
  box-shadow: none;
  -webkit-autofill,
  &::placeholder {
      color: #777272;
  }
  &:-webkit-autofill {
      box-shadow: 0 0 0 1000px #2A2035 inset;
      -webkit-text-fill-color: white;
  }
}