.contact__principalContainer {
  max-width: 1104px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: 1150px) {
	padding-left: 20px;
	padding-right: 20px;
  }
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.contact__titleForInput {
    font-family: var(--principalFont);
    font-weight: 500;
    color: white;
    font-size: 18px;
    margin-bottom: 6px;
}

.contact__submitButtonContainer {
	display: flex;
	justify-content: flex-end;
}

.contact__submitButton {
	cursor: pointer;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: white;
	font-family: var(--principalFont);
	background-color: transparent;
	border-radius: 8px;
	text-transform: uppercase;
	padding: 20px 0;
	width: 312px;
	border: #0CF569 2px solid;
	@media (max-width: 700px) {
		width: 250px;
		padding: 16px 0;
		font-size: 18px;
	}
}

// modal styles

.contact__modal {
	display: flex;
	flex-direction: column;
	background: linear-gradient(112.89deg, rgba(139, 190, 219, 0) 0%, rgba(69, 140, 181, 0.723958) 57.81%, #000000 100%);
	border-radius: 20px;
	padding: 16px 118px 59px 118px;
	align-items: center;
	width: 847px;
	margin: 0 auto;
	margin-top: 40px;
	@media (max-width: 1000px) {
		width: 700px;
	}
	@media (max-width: 800px) {
		width: 500px;
		padding-right: 50px;
		padding-left: 50px;
	}
	@media (max-width: 600px) {
		width: 400px;
		padding-right: 50px;
		padding-left: 50px;
	}
}

.contact__modal__image {
	width: 250px;
	height: 250px;
	margin-bottom: 32px;
	@media (max-width: 600px) {
		width: 200px;
		height: 200px;
	}
}

.contact__modal__title {
	font-family: var(--principalFont);
	color: white;
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 43px;
	@media (max-width: 1000px) {
		text-align: center;
	}
	@media (max-width: 600px) {
		font-size: 28px;
		margin-bottom: 20px;
	}
}

.contact__modal__generalText {
	font-family: var(--principalFont);
	color: white;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 43px;
	@media (max-width: 1000px) {
		text-align: center;
	}
	@media (max-width: 600px) {
		font-size: 18px;
	}
}

.contact__modal__button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 314px;
	font-size: 20px;
	letter-spacing: 0.02em;
	font-weight: 600;
	font-family: var(--principalFont);
	padding: 16px 0;
	background-color: transparent;
	border-radius: 8px;
	border: 2px #CBCBCB solid;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	@media (max-width: 600px) {
		width: 250px;
		font-size: 18px;
	}
}