* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    --principalFont: "Montserrat", sans-serif;
}

body {
    background-color: #100320;
}

@import "./atoms/Header/Header.scss";
@import "./atoms/Title/Title.scss";
@import "./atoms/Input/Input.scss";
@import "./pages/Home/Home.scss";
@import "./pages/Contact/Contact.scss";