* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    --principalFont: "Montserrat", sans-serif;
}

body {
    background-color: #100320;
}

@import "./globalStyles.scss";
@import "./atoms/Header/Header.scss";
@import "./atoms/Title/Title.scss";
@import "./atoms/Input/Input.scss";
@import "./atoms/Footer/Footer.scss";
@import "./atoms/ErrorText/ErrorText.scss";
@import "./atoms/Textarea/Textarea.scss";
@import "./molecules/LabelWithInput/LabelWithInput.scss";
@import "./molecules/LabelWithTextarea/LabelWithTextarea.scss";
@import "./pages/Home/Home.scss";
@import "./pages/Contact/Contact.scss";
@import "./pages/AboutMe/AboutMe.scss";