.label-with-textarea__titleForTextarea {
  font-family: var(--principalFont);
  font-weight: 500;
  color: white;
  font-size: 18px;
  margin-bottom: 6px;
}

.label-with-textarea__textarea {
  margin-bottom: 10px;
}