.label-with-input__titleForInput {
  font-family: var(--principalFont);
  font-weight: 500;
  color: white;
  font-size: 18px;
  margin-bottom: 6px;
}

.label-with-input__input {
  margin-bottom: 10px;
}